#Navbar{
    width: 100%;
    z-index: 999;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}
#NavbarTop{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 100px;
    font-size: 13px;
}
.project-Logo{
    width: 60%;
}
#bar{
    font-size: 1.3rem;
    display: none;
  }
#NavbarTop ul{
    display: flex;
    gap: 10px;
}
#NavbarTop li{
    list-style: none;
    display: flex;
    justify-content: center;
}
li{
    font-size: 13px;
}
#NavbarTop li:nth-child(4){
    background-color: black;
    color: white;
    padding: 5px;
}
#NavbarTop li:hover{
    cursor: pointer;
    text-decoration: underline;
}
#NavbarBottom{
    /* border:1px solid black; */
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 100px;
}
#NavBotLi{
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
    position: relative;
    left:"50px"
   
    
}
#NavBotLi li{
    list-style: none;
    font-size: 18px;
}
 label:hover{
    font-weight: bold;
    cursor: pointer;
}
#NavBotLi input{
    width: 80%;
    border-radius: 15px;
    height: 130%;
}
#NavbotList:hover{
    font-weight: bold;
}
.dropdown{
    display: flex;
    gap: 0px 10px;
    font-size: 2px;
    
}
.dropdown ul{
    align-items: flex-start;
}
.dropdown{
    font-size: 5px;
}
.dropdown li:hover{
    text-decoration: underline;
}
.firstElement{
    font-weight: bold;
    padding: 4px 0px;
    font-size: 1px;
}
@media   (max-width :1026px) and (min-width:760px) {
    #Navbar{
        width: 100%;
        /* background-color: red; */
        margin: 0px 0px;
    }
    #NavbarTop{
        padding: 0px 0px;
       
    }
    #NavbarBottom{
        padding: 0px 0px;
    }
    .dropdown{
        display: flex;
        gap: 0px 0px;
        font-size: 1px;
        width: 100%;
        
    }
}

@media   (max-width :770px) and (min-width:100px) {
    #NavbarBottom{
        padding: 0px 0px;
    }
     #bar{
        display: block;
        font-size: 2rem;
        padding: 5px;
    }
  .project-Logo{
    width: 60%;
    position: relative;
    top: 10px;
    left: 10px;
  }
  #NavbarTop{
    display: none;
  }
}