

.login {
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   padding: 30px;
   width: 400px;
background-color: #243545;
   margin: auto;
   border-radius: 30px;
   padding-left: 40px;
   margin-top: 50px;
   margin-bottom: 50px;
}
.login>h1{
    color: white;
    
    font-size: 26px;
    width: 336px;
    height: 32px;
    font-weight: 400;
}
.login p{
    color: white;
    font-weight: 300;
    font-size: 14px;
}
label{
    margin-left: -200px;
    color: white;
}
.login img {
    display: block;
    width: 340px;
    height: 54px;
    margin: auto;
   border-radius: 5px;
}
input{
    border-radius: 5px;
    width: 330px;
    height: 33px;
    border: 1px  solid black;
}
button{
    width: 330px;
    height: 45px;
    background-color: #d5a249;
    border: 0px;
border-radius: 5px;
}
p{
    margin-top: 30px;
}
span a {
   
    color: #176D93;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}